html,body{
     font-family: "微软雅黑",Helvetica,Tahoma,Arial,"Microsoft YaHei",SimSun,"宋体",Heiti,"黑体",sans-serif;
     font-size: 12px;
     margin: 0px;
     padding: 0px;
     height: 100%;
 }

body{

}

ul,li{
    list-style: none;
    text-decoration: none;
    padding: 0px;
}

