#t_header{
    width: 100%;
    height: 50px;
    margin: 0px auto;
    background-color: #252323;
    color: #ffffff;
    font-size: 14px;
    line-height: 50px;
}
.t_header_main{
    width: 97%;
    margin: auto;
}
.t_header_title{
    float: left;
}
.t_header_about{
    float: right;
}
.t_header_github{
    float: right;
    padding-right: 20px;
}
.t_search_add{
    margin: 0px auto;
    height: 40px;
    line-height: 40px;
}
#t_map_container{
    float:right;
    width:70%;
    height:100%;
}
#t_main{
    width: 100%;
    height: 90%;
}
#t_content{
    float:left;
    width:30%;
    height: 100%;
    overflow: scroll;
}
#t_content_zone{
    padding: 5%;
}
.t_select_name{
    padding: 5px;
}

#t_search_input{
    width: 70%;
    padding: 8px;
    float: left;
}
#t_place_add_btn{
    width: 55px;
    margin-left: 10px;
    padding: 8px;
    float: right;
}
#t_search{
    text-align: center;
    margin-top: 15px;
}
.t_place_item{
    background-color: rgba(205, 205, 205, 0.24);
}
.t_place_item_header{
    height: 30px;
    line-height: 30px;
    background-color: rgba(213, 149, 212, 0.28);
    border-bottom: 1px solid #C4BCBC;
    border-radius: 3px;
    cursor: pointer;
    -webkit-user-select: none;
}
.t_place_item_header_left{
    width: 90%;
    overflow: hidden;
    line-height: 30px;
    float: left;
}
.t_place_item_set{
    padding: 5px;
    display: none;
}
.t_place_item_button{
    padding: 8px 10px;
    margin-left: 40px;
    cursor: pointer;
}

/* 结果集添加 */
.t_results_item{
    height: 30px;
    background-color: rgba(213, 149, 212, 0.28);
    line-height: 30px;
    border-bottom: 1px solid #C4BCBC;
    cursor: pointer;
    border-radius: 3px;
}
.t_results_start{
    background-color: rgba(87, 191, 104, 0.35);
}
.t_results_end{
    background-color: rgba(196, 94, 122, 0.6);
}
.t_results_item_left{
    float: left;
    width: 85%;
    overflow: hidden;
    line-height: 30px;
    height: 30px;
}
.t_results_item_type{
    float: left;
    font-weight: bolder;
}
.t_results_item_content{
    float: left;
    color: #252121;
    padding-left: 10px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-appearance: none;
}
.t_results_item_icon{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid #A0A69F;
    border-bottom: 0px;
    float: right;
    margin-top: 8px;
    margin-right: 20px;
}

.t_results_item_icon_down{
    border-bottom: 15px solid #A0A69F;
    border-top: 0px;
}
.t_route_description{
    background-color: rgba(138, 128, 128, 0.12);
    display: none;
}
.t_route_description[item='0']{
    display: block;
}
.t_search_results_opt ul{
    height: 30px;
    line-height: 30px;
}
.t_search_results_opt_li{
    float: left;
    width: 32%;
    text-align: center;
    border: 1px solid #C8C7C7;
    background-color: #AAABB0;
    cursor: pointer;
    -webkit-user-select: none;
}
.t_search_results_opt_focus{
    background-color: #E6DEDE;
}
.t_place_item_type{
    padding-left: 3px;
    float: left;
}
.t_place_item_content{
    color: #252121;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 3px;
    float: left;
}
.t_place_item_cancel{
    float: right;
    padding-right: 5px;
    color: #9F9084;
    background-image: url("../../assets/images/delete.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 20px;
    height: 30px;
}
.t_place_item_cancel:hover{
    background-position: 0px -70px;
    cursor: pointer;
}
#t_btnSearch{
    width: 65px;
    padding: 8px;
    text-align: center;
}
#t_progress_info{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -25px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background: rgba(42, 36, 36, 0.88);
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    display: none;
}
.t_search_results_info{
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #CFCFCF;
}
.t_window_header{
    padding: 4px;
    border-bottom: 1px solid #cccccc;
}
.t_window_header_title{
    border-bottom: 3px solid #324DA5;
    padding: 3px;
}
.t_window_main_item ul li{
    float: left;
    width: 33%;
    cursor: pointer;
    color: #3C60B7;
    height: 20px;
}
.t_window_main_item ul li:hover{
    text-decoration: underline;
}
.t_select_style{
    width: 70%;
}
.outset_but{
    padding: 2px 5px;
}
/* 添加起点、终点样式*/
.t_add_start_style{
    background-color: rgba(87, 191, 104, 0.35);
}
.t_add_end_style{
    background-color: rgba(196, 94, 122, 0.6);
}
.t_add_start_end_style{
    background-color: rgba(205, 42, 37, 0.58);
}
.t_add_normal_style{
    background-color: rgba(213, 149, 212, 0.28);
}

/* 弹出层*/
#my_popup{
    width: 300px;
    border: 1px solid #7A7A7A;
}
.popup_header{
    height: 30px;
    line-height: 30px;
    background-color: rgba(67, 67, 189, 0.89);
    border-bottom: 1px solid #9E9292;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
}
.popup_title{
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    float: left;
}
.popup_close{
    float: right;
    padding-right: 10px;
    cursor: pointer;
}
.popup_header_close:hover{
    color: #c7cdca;
}
.popup_container{
    width: 100%;
    height: auto;
    min-height: 130px;
    background-color: #ffffff;
    display:-moz-box;
    display:-webkit-box;
    display:box;
}
.popup_container div{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 14px;
    box-align: center;
    box-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -moz-box-align: center;
    -moz-box-pack: center;

}
.popup_button{
    text-align: right;
    padding: 10px;
    background-color: #ffffff;
    display: none;
}
.popup_button_sure{
    display: inline-block;
    line-height: 30px;
    border: 0px;
    height: 30px;
    /* padding: 0px 10px; */
    text-align: center;
    background-color: #2EB5E5;
    background-image: -moz-linear-gradient(top, #34C0E9, #29AAE1);
    background-image: -webkit-linear-gradient(top, #34C0E9, #29AAE1);
    background-image: -o-linear-gradient(top, #34C0E9, #29AAE1);
    background-image: -ms-linear-gradient(top, #34C0E9, #29AAE1);
    background-image: linear-gradient(top, #34C0E9, #29AAE1);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34c0e9', endColorstr='#29aae1',GradientType=0 );
    color: white;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    width: 50px;
    padding: 0px 10px;
}
.popup_button_cancel{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #333;
    line-height: 28px;
    height: 28px;
    border: 1px solid #c6c6c6;
    background-color: #F8F8F8;
    width: 50px;
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f1f1f1',GradientType=0 );
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    -ms-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    text-align: center;
    display: inline-block;
    padding: 0px 10px;
}



