<li class="t_place_item">
    <div class="t_place_item_header">
        <div class="t_place_item_header_left">
           <div class="t_place_item_type" type="0"></div>
            <div class="t_place_item_content"><%=place%></div>
        </div>
        <div class="t_place_item_cancel"></div>
    </div>
    <div class="t_place_item_set">
        <button class="t_place_item_start t_place_item_button">设为起点</button>
        <button class="t_place_item_end t_place_item_button">设为终点</button>
    </div>
</li>