<h3 class="t_window_header"><span class="t_window_header_title">在附近找</span></h3>
<div class="t_window_main">
    <div class="t_window_main_item">
        <ul>
            <li>酒店</li>
            <li>餐馆</li>
            <li>小吃</li>
            <li>银行</li>
            <li>医院</li>
            <li>公交站</li>
        </ul>
    </div>
    <div class="t_window_main_search">
        <input type="text" class="t_window_nearby_input" />
        <input type="button" class="t_window_search_btn" value="搜索" />
    </div>
</div>